In [1]:
import pandas as pd
predicted_country_df = pd.read_csv("predicted_temp_country.csv")
predicted_country_df

       Unnamed: 0      Country  Year  avg_temp_F
0               0  Afghanistan  2013   59.620016
1               1  Afghanistan  2014   59.669303
2               2  Afghanistan  2015   59.718589
3               3  Afghanistan  2016   59.767875
4               4  Afghanistan  2017   59.817161
...           ...          ...   ...         ...
19267       19267     Zimbabwe  2096   73.153647
19268       19268     Zimbabwe  2097   73.175849
19269       19269     Zimbabwe  2098   73.198050
19270       19270     Zimbabwe  2099   73.220251
19271       19271     Zimbabwe  2100   73.242452

[19272 rows x 4 columns]

In [3]:
import os
import shutil
import time

import folium
import imageio
import webbrowser
import zipfile
import json
import fileinput

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from os import path
from branca.colormap import linear
from selenium import webdriver
from PIL import Image
from pathlib import Path

ModuleNotFoundError: No module named 'folium'